<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h1>This user came from the backend:</h1>
  <h1>user id: {{user.userID}}</h1>
  <h1>user status: {{user.status}}</h1>
</div>


<app-header></app-header>
<router-outlet></router-outlet>





